# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

/src/flag_gems/*      @kiddyjinjin   @0x45f
/src/flag_gems/runtime/backend/*

/tests/*             @kiddyjinjin   @0x45f
/modules_tests/*     @kiddyjinjin   @0x45f
/benchmark/*         @kiddyjinjin   @0x45f


/lib/*                 @zhangpeiyang1  @huangyiqun
/ctests/*              @zhangpeiyang1  @huangyiqun
/include/*             @zhangpeiyang1  @huangyiqun
